@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Acme|Lato&display=swap');
$success-color: #fff;
$fail-color: #ff4444;
$header-auth-msg-font: 'Acme', sans-serif;
$basic-font: 'Lato', sans-serif;

body,
html {
  height: 95%;
}

h1,
h3,
h5 {
  font-family: $header-auth-msg-font;
  padding: 5px;
}

li,
p {
  font-family: $basic-font;
}

.all-questions-count {
  padding: 10px;
  font-family: $basic-font;
}

.centered-form,
.featureEvs_messages,
.heading {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 70%;
}

.holder {
  background: url("stars.jpg");
  background-size: cover;
  height: 100%;
}

.failure {
  color: $fail-color;
  font-family: $header-auth-msg-font;
  font-weight: bold;
}

.featureEvs_messages {
  display: none;
  font-family: $header-auth-msg-font;
}

.success {
  color: $success-color;
  font-family: $header-auth-msg-font;
  font-weight: bold;
}

.logged-in {
  display: none;
}

.main {
  background: linear-gradient(rgba(250, 250, 250, .8), rgba(145, 152, 229, .5), rgba(250, 250, 250, 1));
  background-size: cover;
  height: 100%;
  text-align: center;
}

.modal-body {
  text-align: left;
}

.small {
  text-align: justify;
}

#footer {
  flex-shrink: none;
  font-family: $basic-font;
}

#oracle_question_body,
#oracle_response_body {
  padding: 10px;
  font-family: $basic-font;
}
